.modal-subhead {
    font-size: medium;
    text-transform: uppercase;
    color: gray;

}.duh {
    display: flex;
    flex-direction: column;
}

.modal-content {
    display: flex;
}

.modal-body {
    padding: 0px;
}

.modal-dialog {
    max-width: 700px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }

  .container-fluid {
      display: flex;
      padding: 0px;
  }

  .course-img {
      display: flex;
      justify-content: flex-start;
      padding-top: 8px;
    }

  .course-info {
      width: 400px;
      display: flex;
      flex-direction: column;

  }

  .title {
      max-width: 500px;
      margin-bottom: 20px;
      display: flex;
      /* flex-wrap: wrap; */
      /* flex-direction: column; */
  }

  .description {
    max-width: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; */
    flex-direction: column;
}

  .btn-rounded {
      border-radius: 40px;
      border-color: gray;
      color: gray;
       
  }


.course-details {
    display: flex;
    flex-direction: row;
}

textarea {
    border: none;
    resize: none;
}

#message {
    width: 390px;
    height: 25px;
    margin-left: 5px;
    border: none;
    resize: none;
}

#message2 {
    width: 390px;
    height: 25px;
    margin-left: 5px;
    border: none;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    background-color: #fafafb;
    /* padding: 25px; */
}

.drop-downs {
     display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 700px;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

h6 {
    color: gray;
    text-transform: uppercase;
}

/* textarea {
    display:block;
    margin:1em 0;
	width: 350px;
	height: 50px;
	border: none;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-color: none;
  resize: none;
} */

#place {
    width: 325px;
    height: 50px;
}

#add {
    width: 325px;
    height: 50px;

}

