.modal-subhead {
    font-size: medium;
    text-transform: uppercase;
    color: gray;
    width: 450px;

}.duh {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.modal-content {
    display: flex;
}

.modal-body {
    padding: 0px;
}

.modal-dialog {
    max-width: 700px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }

  .container-fluid {
      display: flex;
      padding: 0px;
  }

  .course-img {
      display: flex;
      justify-content: flex-start;
      padding-top: 8px;
    }

    img {
        border-radius: 10px;
    }

  .course-info {
      width: 600px;
      display: flex;
      flex-direction: column;

  }

  .title {
      max-width: 500px;
      margin-bottom: 20px;
      display: flex;
      /* flex-wrap: wrap; */
      /* flex-direction: column; */
  }

  .description {
    max-width: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; */
    flex-direction: column;
}

  .btn-rounded {
      border-radius: 40px;
      border-color: gray;
      color: gray;
       
  }

.course-details {
    display: flex;
    flex-direction: row;
}

.countdown {
    display: flex;
    align-items: flex-start;
    width: 100px;
    height: 40px;
    margin-left: 5px;
}

.message {
    width: 380px;   
    height: 50px;   
    margin-left: 5px;   
    border: none;
    resize: none;
    padding: 10px;
    background-color: #fafafb;
}

.message2 {
    width: 390px;
    height: 40px;
    margin-left: 5px;
    border: none;
    resize: none;
    padding: 10px;
    background-color: #fafafb;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    background-color: #fafafb;
    /* padding: 25px; */
}

.drop-downs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 700px;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

h6 {
    color: gray;
    text-transform: uppercase;
}

.sef {
    color: #333333;
    background-color: white;
    border: 1px solid gray;
    width: 300px;
    margin-top: 5px;

}

.template {
    display: flex;
    flex-direction: row;
    font-size: 1rem;

}

.template-font {
    font-size: 1rem;
}

.input-field {
    display: flex;
    flex-wrap: nowrap;
    width: 250px;
}

.left-chars {
    width: 120px;
    font-size: 12px;
    text-align: right;
}

.box-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 450px;
}